:root{
	--rails-icon-gem-fill: resource('Icons/gem_fill');
	--rails-icon-gem-stroke: resource('Icons/gem_stroke');
	--rails-icon-play-head: resource('Icons/play_head');
	--rails-play-head-color: #FF2C80;
}

.move-anchor{
	--color-active: #508CEB;
	--color-not-active: #55709B;
}

.fade{
	--color-active: #57DED3;
	--color-not-active: #618986;
}